repos:
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    stages:
    - commit
- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.21.2
  hooks:
  - id: commitizen
    stages:
    - commit-msg
- repo: https://github.com/pdm-project/pdm
  rev: 2.8.0
  hooks:
    - id: pdm-lock-check
